

/*Aca comienza la creacionn del header principal*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1f2937;
    

}
body{
    width: auto;
    align-items: center;
    
}
li, a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}
header {
    
    display: flex;
   
    justify-content: space-between;
    
    align-items: center;

    padding-top: 16px;
    padding-left:  100px;
    padding-right: 100px;
    padding-bottom: 72px;
    
}
.titulo{
    color: #f9faf8;
    justify-self: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    
}

.nav_links{
    
    list-style: none;
    
}
.nav_links li{
    display:inline-block;
    padding: 0px 15px;
   
}
.nav_links li a{
    color: #E5E7EB;
    
}

/* ACA COMIENZA LA CREACION DE LA PRIMERA SECCION !!!!!*/

div .info{
    height: 189px;
    width: 719px;


}


.primero{
    display: flex;
    
    
    justify-content: space-between;
    align-items: flex-start;
    
    padding-top: 16px;
    padding-left:  100px;
    padding-right: 100px;
    padding-bottom: 72px;


}
img {
    border: none;
    border-radius: 25px;
}




h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}
p{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    padding: 9px 25px;
    background-color: #3882f6;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-top: 24px;
}
/*falta agregar que al modificar el size de la pagina esta no cambie, perop ya la primera parte esta hecha*/

/*comienza el dise;o de random information*/


